@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.woff');
}

:root {
    /* Colors */
    --brand-primary: #005FED;
    --action-success: #00E4C9;
    --action-error: #FF0077;
    --action-warning: #FFCC00;
    --action-info: #005FED;
    --purple: #5D5FEF;
    --pink: #FF00EA;
    --night: #000000;
    --grey: #74778A40;
    --light: #FFFFFF;
    /* Fonts */
    --font-display: 'Gilroy', Helvetica, sans-serif;
    --font-regular: 'DM Sans', Helvetica, sans-serif;
    --font-code: 'DM Mono', Courier, monospace;
    /* Miscellaneous */
    --corner-radius: 5px;
    --background-blur: 20px;
}

body {
    background: var(--light);
}

* {
    margin: 0;
    padding: 0;
}

.pre-header {
    font-size: 18px;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: var(--brand-primary);
    font-family: var(--font-regular);
}

h1.header {
    font-size: 48px;
    font-family: var(--font-display);
}

p {
    font-size: 18px;
    font-family: var(--font-regular);
}

.hero {
    margin-top: 200px;
    margin-left: 100px;
}

.hero h1 {
    font-size: 72px;
    line-height: 75px;
}

.navbar {
    width: 100%;
    height: 75px;
    box-shadow: 0 20px 30px 0px var(--grey);
}

.navcontent {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-display);
}

.navlink {
    color: black;
    font-size: 12px;
    margin-left: 24px;
    text-decoration: none;
    transition: 400ms;
}

.navlink:hover {
    color: var(--brand-primary);
    border-bottom: solid 3px var(--brand-primary);
}

button.navbutton {
    margin-left: 250px;
}

button.button-filled {
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--brand-primary);
    font-family: var(--font-display);
    border-radius: var(--corner-radius);
    transition: opacity 400ms;
}

button.button-filled:hover {
    opacity: 0.8;
}

button.button-filled.button-black {
    background: black;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--brand-primary);
}

.word {
    position: absolute;
    opacity: 0;
}

.word.word-red {
    color: var(--action-error);
}

.word.word-yellow {
    color: var(--action-warning);
}

.word.word-green {
    color: var(--action-success);
}

.word.word-blue {
    color: var(--brand-primary);
}

.word.word-purple {
    color: var(--purple);
}

.word.word-pink {
    color: var(--pink);
}

.word.word-rainbow {
    animation-delay: 18s;
    animation-duration: 2s;
    animation-name: rainbow;
    margin-left: -17px;
}

@keyframes rainbow {
    0% {
        color: var(--action-error);
    }
    
    25% {
        color: var(--action-warning);
    }
  
    50% {
        color: var(--action-success);
    }

    75% {
        color: var(--brand-primary);
    }
  
    100% {
        color: var(--night);
    }
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}