html {
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0;
    font-family: 'Leon';
    font-weight: 400;
    font-size: 18px;
    box-sizing: content-box !important;
    scroll-behavior: smooth;
    user-select: none;
    background-color: white;
    color: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

@font-face {
    font-family: 'Leon';
    src: url(LeonSans-Medium.otf);
}

a {
    text-decoration: none !important;
}

a:focus {
    outline: none;
}

nav {
    color: black;
    background-color: white;
    padding: 0px 12.5% 0px 12.5%;
    overflow: hidden;
    display: block;
    position: fixed;
    z-index: 999999;
    width: 100%;
    box-shadow: #99999944 0 0 4vw 0;
}
.logo {
    float: left;
    display: flex;
    padding: 0;
}
.forms {
    float: right;
    box-sizing: content-box;
    font-size: 20px;
    padding: 10px;
    margin: 5px 0 5px 0;
}
.logo a.fluento {
  color: inherit;
  background: linear-gradient(to right, #000000, #000000);
  background-repeat: no-repeat;
  background-size: 0% 10%;
  background-position-x: 50%;
  background-position-y: 100%;
  font-size: 20px;
  padding: 10px;
  box-sizing: content-box;
  transition: 0.2s cubic-bezier(.48,.88,.39,.99);
  padding: 15px;
}
.logo a.fluento:hover {
  color: black;
  background-size: 100% 10%;
}
.logo a.fluento:focus {
    color: black;
    background-size: 100% 10%;
}
.menu {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0 25% 0 25%;
    padding: 0;
}
.menu a.fluento {
  color: inherit;
  background: linear-gradient(to right, #000000, #000000);
  background-repeat: no-repeat;
  background-size: 0% 10%;
  background-position-x: 50%;
  background-position-y: 100%;
  font-size: 20px;
  box-sizing: content-box;
  transition: 0.2s cubic-bezier(.48,.88,.39,.99);
  margin: 0 0 0 0;
  padding: 15px;
}
.menu a.fluento:hover {
  color: black;
  background-size: 100% 10%;
}
.menu a.fluento:focus {
    color: black;
    background-size: 100% 10%;
} 
button {
    position: relative;
    overflow: hidden;
    transition:400ms;
    transition-property: all;
    color: #fff;
    background-color: #0064ff;
    padding: 10px 30px;
    outline: none !important;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    transition: 0.2s;
}

button:hover {
    box-shadow: #0064ff99 0 0 15px 0;
}
a.round {
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10000px;
}
.inverter {
    margin: 0 0.2vw 0 0.2vw;
    background-color: transparent;
    color: black;
    border: 2px black solid;
    transition: 0.2s;
}
.inverter:hover {
    background-color: black;
    color: white;
    border: 2px black solid;
    box-shadow: none;
}
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.5);
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: white;
}

#download {
    position: absolute;
    top: calc(50% + 100px + 30px - 47px/2);
    left: 12.5%;
}
#description {
    position: absolute;
    top: calc(50% + 30px - 81px/2);
    left: 12.5%;
    font-size: 18px;
    width: 600px;
}
#hooker {
    position: absolute;
    top: calc(50% - 100px + 30px - 108px/2);
    left: 12.5%;
    font-size: 72px;
}
#graphic1 {
    position: absolute;
    top: calc(50% - 100px + 30px - 108px/2);
    right: 12.5%;
}
section {
    display: flex;
    width: 100%;
    padding: 0 12.5% 0 12.5%;
    align-items: center;
}
.content {
    width: 50%;
    padding: 2.5vw 0 2.5vw 0;
}
.img {
    width: 50%;
    overflow: none;
    padding: 0vw 0 0vw 0;
}
.img img {
    width: 75%;
    margin: 0 12.5% 0 12.5%;
}
#subjects {
    margin: 2vw 0 2vw 0;
    display: flex;
    justify-content: space-evenly;
}
#subjects a {
    color: black;
    transition: 0.2s;
}
#subjects a {
    color: inherit;
}
#maths, #reading, #writing, #science {
    font-size: 1.5vw;
    padding: 2.5vw;
    width: 20%;
    text-align: center;
    height: 20vw;
    color: black;
    background-color: white;
    box-shadow: #99999944 0 0 4vw 0;
    border-radius: 1vw;
    transition: 0.2s;
}
#maths:hover, #reading:hover, #writing:hover, #science:hover {
    padding: 2.5vw;
    width: 20%;
    text-align: center;
    height: 20vw;
    color: black;
    background-color: white;
    box-shadow: #99999944 0 0 1vw 0;
}
#maths:hover {
    color: #0064ff;
}
#reading:hover {
    color: #ff0032;
}
#writing:hover {
    color: #00b428;
}
#science:hover {
    color: #ffc800;
}
.modal-right {
    opacity: 0;
    color: black;
    background-color: white;
    overflow: hidden;
    display: block;
    position: fixed;
    z-index: 999999;
    width: 0%;
    height: 100vh;
    right: 0px;
    padding: 5vw;
    text-align: center;
    box-shadow: #99999944 0 0 4vw 0;
    transition: 0.5s;
}
.modal-right.active {
    width: 25%;
    opacity: 1;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-options {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
img.close {
    opacity: 0.75;
    position: absolute;
    top: 3vw;
    right: 2vw;
    transform: translate(-50%,-50%);
    width: 2vw;
    height: 2vw;
}
img.close:hover {
    opacity: 1;
}
#username, #password, #type-password-again {
    outline: none;
    text-align: left;
    width: 75%;
    height: 2vw;
    margin: 0vw 12.5% 0vw 12.5%;
    padding: 0 0 0 0.5vw;
    border-radius: 0.3vw;
    border: #eee 2px solid;
    font-size: 0.8vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transition: 0.2s;
}
#username:focus, #password:focus, #type-password-again:focus {
    text-align: left;
    width: 75%;
    height: 2vw;
    margin: 0vw 12.5% 0vw 12.5%;
    padding: 0 0 0 0.5vw;
    border-radius: 0.3vw;
    border: #0064ff 2px solid;
    font-size: 0.8vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#submit-form {
    margin: 0.5vw 0 0.5vw 0;
}
#dashboard {
    padding: 2vw 12.5% 2vw 12.5%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}
#progress {
    padding: 2vw 12.5% 2vw 12.5%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}
#quizzes {
    padding: 2vw 12.5% 2vw 12.5%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}
#books {
    padding: 2vw 12.5% 2vw 12.5%;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#beta {
    padding: 2vw 12.5% 2vw 12.5%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}
#versions {
    padding: 2vw 12.5% 2vw 12.5%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}
#pages {
    padding: 2vw 12.5% 2vw 12.5%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}
.book-default {
    font-size: 1vw;
}
.book-thumb {
    font-size: 1vw;
}
.dashbtn {
    font-size: 1vw;
    color: black;
    border: #000000 solid 2px;
    padding: 5px 15px 5px 15px;
    margin: 0.5vw 0 0.5vw 0;
    width: 10vw;
    border-radius: 100000px;
    background: linear-gradient(to right, #000000, #000000);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: 0%;
    background-position-y: 50%;
    transition: 0.2s;
}
.dashbtn:hover {
    background-size: 100% 100%;
    color: white;
}
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #0064ff;
  font-size: 0.5vw;
  text-indent: 0em;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  animation: rainbow alternate infinite 1s;
  -webkit-animation: rainbow alternate infinite 1s;
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}
.spinner:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: spin 2s infinite ease 1.5s;
  animation: spin 2s infinite ease 1.5s;
}
.spinner:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: spin 2s infinite ease;
  animation: spin 2s infinite ease;
}
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}
@media only screen and (max-width: 800px) {
    section {
        flex-wrap: wrap;
    }
}
